body {
  background-color: #000;
}
input {
  min-width: 70%;
}

/* Override Boostrap Box-sizing class that conflicts with Google maps padding */
.selector-for-some-widget {
  box-sizing: content-box;
}

.map-div {
  position: relative;
}

#map {
  width: 100%;
  height: 600px;
}

/* Override Boostrap */
.list-group-item-primary {
  background-color: #000;
}

.bg-dark {
  background-color: #000;
}